#navigation-container {
  width: 4%;
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Hide overflowing content during transition */
}

#navigation-container:hover {
  width: 15%;
}

/* Initially hide nav-item-name */
.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
  transform: translateX(0);
  visibility: visible; /* Make title visible */
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0s;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* Add opacity transition */
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
  visibility: visible; /* Make search input visible */
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0s;
}

.search-icon {
  opacity: 1;
  visibility: visible; /* Keep search icon visible initially */
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* Smooth opacity transition */
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

.container {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.w-full {
  max-width: 100%;
}

.sm\:w-\[calc\(50\%-1rem\)\] {
  max-width: calc(50% - 1rem);
}
